
/* new css  */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html,body,.container{
    position: relative;
    margin: 0;
    width:100%;
    height:100%;
}

#container-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/back-out.png);
    background-size: cover;
    /*background-attachment: fixed;*/
}

#tab-box{
    position: absolute;
    top: 10%;
    width: 74%;
    left: 13%;
    height: 80%;
    opacity:0.80;
    z-index:10;
}

#tree {
    position: absolute;
    bottom: 2%;
    left: 0;
    width: 100%;
    height: 95%;
    /*z-index: 10;*/
}

#tree img{
    width:100%;
    height:100%;
}


.image-avatar{
    position:absolute;
    bottom: 20%;
    left: 43%;
    text-align: center;
}

.image-avatar img{
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

#info-div{
    position: absolute;
    top:20%;

    width:80%;
    margin: auto;
    height:80%;

}

.name{
    position: absolute;
    bottom: 10%;
    left: 38%;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
}

#energe{
    position: absolute;
    top:33%;
    left: 6px;
    width:100px;
    height: 25px;
    font-size:15px;
    color:yellow;
    font-family: cursive;
    font-weight:600;
}

#energy_num{
     margin-left: 6px;
}

#jqmeter-container{
    position: absolute;
    top:37%;
    left: 14px;
}

#btn{
    position: absolute;
    display: block;
    bottom: 3%;
    left: 39%;
    padding: 5px 5px;
    width: 81px;
    font-size: 16px;
    color:black;
}

#btn-qiandao {
    position: absolute;
    display: block;
    bottom:3%;
    left: 18%;
    padding: 5px 5px;
    width: 81px;
    font-size: 16px;
    color:black;
}

#btn-jiaoshui{
    position: absolute;
    display: block;
    bottom:3%;
    left: 18%;
    padding: 5px 5px;
    width: 81px;
    font-size: 16px;
    color:black;
}

#btn-query{
    position: absolute;
    display: block;
    bottom:3%;
    right: 18%;
    padding: 5px 5px;
    width: 81px;
    font-size: 16px;
    color:black;
}

#btn-canyu{
    position: absolute;
    display: block;
    bottom:3%;
    right: 18%;
    padding: 5px 5px;
    width: 81px;
    font-size: 16px;
    color:black;
}

.audio{
    background-size: contain;
    background-repeat: no-repeat
}

.audio{
    z-index: 10;
    position: absolute
}

.audio {
    right: 15%;
    top: 2.4%;
    width: 30px;
    height: 30px;
    background-image: url(../img/normalmusic.svg)
}

.rotate {
    -webkit-animation: rotating 1.2s linear infinite;
    animation: rotating 1.2s linear infinite
}

.intro{
    position: absolute;
    right: 8px;
    top: 2%;
    z-index:10;
}

.share{
    position: absolute;
    right: 25%;
    top: 2%;
    z-index:10;
}

.share img{
    width: 35px;
    height: 35px;
}

.intro img{
    width: 35px;
    height: 35px;
}

.intro span{
    display: block;
    font-size: 10px;
    color:#fff;
    text-align: center;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
/************************  媒体查询  ************************/

@media screen and (max-height: 580px) {

    .image-avatar{
        position:absolute;
        bottom: 20%;
        left: 43%;
        /*padding: 20px;*/
        text-align: center;
    }

    .image-avatar img{
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }

    .name{
        position: absolute;
        bottom: 10%;
        left: 38%;
        text-align: center;
        margin-top: 10px;
        font-size: 13px;
        line-height: 20px;
        color: #ffffff;
    }

    #tree {
        position: absolute;
        bottom: 9%;
        left: 28%;
        width: 140px;
        height: 150px;
        /*z-index:10;*/
    }

    #tree img{
        width:100%;
        height:100%;
    }

    .tabs ul li label span{
        font-size: 15px;
    }

    #tab-box{
        font-size: 12px;
    }

}

@media screen and (max-height: 510px) {

    .image-avatar{
        position: absolute;
        bottom: 20%;
        left: 42%;
        text-align: center;
    }

    .image-avatar img{
        width: 50px;
        height: 50px;
        border-radius: 60px;
    }

    .name{
        margin-top: 17px;
        font-size: 12px;
        line-height: 16px;
        color: #ffffff;
    }

    #btn{
        bottom: 3%;
        left: 35%
    }

    #tree {
        position: absolute;
        bottom: 9%;
        left: 28%;
        width: 140px;
        height: 150px;
        /*z-index:10;*/
    }

    #tree img{
        width:100%;
        height:100%;
    }

    .tabs ul li label span{
        font-size: 15px;
    }

    #tab-box{
        font-size: 12px;
    }

}


/* <=640 */
@media screen and (min-width: 319px) and (max-width: 321px) {

    .image-avatar{
        position: absolute;
        bottom: 20%;
        left: 42%;
        text-align: center;
    }

    .image-avatar img{
        width: 50px;
        height: 50px;
        border-radius: 60px;
    }

    .name{
        margin-top: 17px;
        font-size: 12px;
        line-height: 16px;
        color: #ffffff;
        left: 36%;
    }

    #btn{
        bottom: 7px;
        left: 38%;
    }

    #tree {
        position: absolute;
        bottom: 1%;
        left: 0;
        width: 100%;
        height: 95%;
        /*z-index: 10;*/
    }

    #tree img{
        width:100%;
        height:100%;
    }

    .tabs ul li label span{
        font-size: 15px;
    }

    #tab-box{
        font-size: 12px;
    }

}
/* 720 */
@media screen and (min-width: 359px) and (max-width: 361px) {
    .image-avatar{
        position:absolute;
        bottom: 20%;
        left: 43%;
        /*padding: 20px;*/
        text-align: center;
    }

    .image-avatar img{
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }

    .name{
        margin-top: 17px;
        font-size: 12px;
        line-height: 16px;
        color: #ffffff;
        left: 36%;

    }

    #btn{
        bottom: 2%;
        left: 39%;
    }

    #tree {
        position: absolute;
        bottom: 1%;
        left: 0%;
        width: 100%;
        height: 95%;
        /*z-index: 10;*/
    }

    #tree img{
        width:100%;
        height:100%;
    }

    .tabs ul li label span{
        font-size: 15px;
    }
    #tab-box{
        font-size: 12px;
    }
}
/* 1024*768, 2056*1536 */
@media screen and (min-width: 383px) and (max-width: 385px) {
    .image-avatar{
        position:absolute;
        bottom: 20%;
        left: 43%;
        /*padding: 20px;*/
        text-align: center;
    }

    .image-avatar img{
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }

    .name{
        position: absolute;
        bottom: 10%;
        left: 38%;
        text-align: center;
        margin-top: 10px;
        font-size: 13px;
        line-height: 20px;
        color: #ffffff;
    }

    #tree {
        position: absolute;
        bottom: 9%;
        left: 28%;
        width: 140px;
        height: 150px;
        /*z-index:10;*/
    }

    #tree img{
        width:100%;
        height:100%;
    }


}
/* 800 */
@media screen and (min-width: 399px) and (max-width: 401px) {
    .image-avatar{
        position:absolute;
        bottom: 20%;
        left: 43%;
        /*padding: 20px;*/
        text-align: center;
    }

    .image-avatar img{
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }

    .name{
        position: absolute;
        bottom: 10%;
        left: 38%;
        text-align: center;
        margin-top: 10px;
        font-size: 13px;
        line-height: 20px;
        color: #ffffff;
    }

    #tree {
        position: absolute;
        bottom: 9%;
        left: 28%;
        width: 140px;
        height: 150px;
        /*z-index:10;*/
    }

    #tree img{
        width:100%;
        height:100%;
    }
}

/* 1080 */
@media screen and (min-width: 539px) and (max-width: 541px) {
    .image-avatar{
        position:absolute;
        bottom: 20%;
        left: 43%;
        /*padding: 20px;*/
        text-align: center;
    }

    .image-avatar img{
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }

    .name{
        position: absolute;
        bottom: 10%;
        left: 38%;
        text-align: center;
        margin-top: 10px;
        font-size: 13px;
        line-height: 20px;
        color: #ffffff;
    }
}

/* 1200 */
@media screen and (min-width: 599px) and (max-width: 601px) {
    .image-avatar{
        position:absolute;
        bottom: 20%;
        left: 43%;
        /*padding: 20px;*/
        text-align: center;
    }

    .image-avatar img{
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }

    .name{
        position: absolute;
        bottom: 10%;
        left: 38%;
        text-align: center;
        margin-top: 10px;
        font-size: 13px;
        line-height: 20px;
        color: #ffffff;
    }
}

/* 1440 */
@media screen and (min-width: 719px) and (max-width: 721px) {
    .image-avatar{
        position:absolute;
        bottom: 20%;
        left: 43%;
        /*padding: 20px;*/
        text-align: center;
    }

    .image-avatar img{
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }

    .name{
        position: absolute;
        bottom: 10%;
        left: 38%;
        text-align: center;
        margin-top: 10px;
        font-size: 13px;
        line-height: 20px;
        color: #ffffff;
    }


}
/* 1600 */
@media screen and (min-width: 799px) and (max-width: 801px) {
    .image-avatar{
        position:absolute;
        bottom: 20%;
        left: 43%;
        /*padding: 20px;*/
        text-align: center;
    }

    .image-avatar img{
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }

    .name{
        position: absolute;
        bottom: 10%;
        left: 38%;
        text-align: center;
        margin-top: 10px;
        font-size: 13px;
        line-height: 20px;
        color: #ffffff;
    }

}
/* for small screen */
@media screen and (max-height: 500px) {
    .image-avatar{
        position:absolute;
        bottom: 20%;
        left: 43%;
        /*padding: 20px;*/
        text-align: center;
    }

    .image-avatar img{
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }

    .name{
        position: absolute;
        bottom: 10%;
        left: 38%;
        text-align: center;
        margin-top: 10px;
        font-size: 13px;
        line-height: 20px;
        color: #ffffff;
    }

    .tabs ul li label {
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 15px;
        color: #428BFF;
    }

}
/* for iPhone6 Plus */
@media only screen and (device-width: 414px) and (-webkit-min-device-pixel-ratio: 3),
only screen and (device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
    .image-avatar{
        position:absolute;
        bottom: 20%;
        left: 43%;
        /*padding: 20px;*/
        text-align: center;
    }

    .image-avatar img{
        width: 60px;
        height: 60px;
        border-radius: 60px;
    }

    .name{
        position: absolute;
        bottom: 10%;
        left: 38%;
        text-align: center;
        margin-top: 10px;
        font-size: 13px;
        line-height: 20px;
        color: #ffffff;
    }

    #tree {
        position: absolute;
        bottom: 1%;
        left: 0;
        width: 100%;
        height: 95%;
        /*z-index: 10;*/
    }

    #tree img{
        width:100%;
        height:100%;
    }
}



.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:cursive;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}
/*.myButton:hover {*/
    /*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));*/
    /*background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);*/
    /*background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);*/
    /*background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);*/
    /*background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);*/
    /*background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);*/
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);*/
    /*background-color:#f24437;*/
/*}*/

.show_msg{
    width:100%;
    height:35px;
    text-align:center;
    position:fixed;
    left: 0;
    z-index: 999;
}
.show_span{
    display: inline-block;
    height: 35px;
    padding: 0 15px;
    line-height: 35px;
    background:rgba(0,0,0,0.8);
    border-radius: 50px;
    color: #fff;
    font-size: 1em;
}
#dialog{
    height:265px !important;
}

.lantern{
    /* background-image: url(img/latern.png); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}